<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/login.css">
  <title>Document</title>
</head>
<body>
  <nav>
    <div class="hello">
        <img src="../static/icon.svg" alt="">
    </div>
</nav>
<div class="container">
  <form action="{{ url_for('login') }}" method="post">
      <h1>LOGIN</h1>
      <input type="text" placeholder="Username" name="username" required>
      <input type="password" placeholder="Password" name="password" required>
      <button>Submit<span class="bg-span"></span><span></span></button>
      {% if error_message %}
        <p style="color: red;">{{ error_message }}</p>
      {% endif %}
      <p id="register-link">Don't have an account? Sign up →</p>
    </form>  
</div>
    
    <script>
        document.getElementById('register-link').addEventListener('click', function() {
            window.location.href = "{{ url_for('register') }}";
        });
       
    </script>
</body>
</html>