<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='register.css') }}"> 
  <title>Register</title>
</head>
<body>
  <nav>
    <div class="hello">
        <img src="../static/icon.svg" alt="">
    </div>
</nav>
<div class="container">
  <form action="{{ url_for('register') }}" method="post">
      <h1>Register</h1>
      <input type="text" placeholder="Username" name = "username">
      <input type="password" placeholder="Password" name = "password">
      <input type="password" placeholder="Retype your password" name = "retypepassword">
      <button>Submit<span class="bg-span"></span><span></span></button>
      <p id="login-link">Already have an account? Sign in→</p>
    </form>
</div>
    
    <script>
        document.getElementById('login-link').addEventListener('click', function() {
            window.location.href = "{{ url_for('login') }}";
        });
      
    </script>
</body>
</html>